
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html, body { font-family: sans-serif; }

#connect4 {}

.game { text-align: center; position: relative; }

.welcome { margin-top: 200px; }

.board { height: 500px; width: 500px; margin: 10px auto; overflow: hidden; }

.cell {
  height: 14.28%;
  width: 14.28%;
  float: left;
  border: 1px solid #ddd;
  font-size: 58px;
  line-height: 69px;
  font-family: courier;
  text-align: center;
}

.turn>span {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

.game-over {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
  background-color: rgba(255,255,255,0.7);
  height: 100%;
  padding-top: 200px;
}

